{% extends 'summer/base.html' %}
{% block title %} Index {% endblock %}

{% block body_block %}
<h1>RSS list</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Link</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        {% for ff in channels %}
        <tr>
            <td>{{ ff.title }}</td>
            <td>{{ ff.link }}</td>
            <td>
                <button feedid="{{ ff.id }}" title="click to change status" class="change-feed-status btn btn-xs {% if ff.active %} btn-success {% else %} btn-default {% endif %}" type="button">{{ ff.active }}</button>
            </td>
            {% endfor %}
    </tbody>
</table>
{% endblock %}

